html, body {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#board {
    position: relative;
    display: grid;
    grid-template-rows: repeat(13, 40px);
    grid-template-columns: repeat(15, 40px);
}

.cell {
    /* position: relative; */
    width: 40px;
    height: 40px;
    border: solid 1px gray;
}

.empty {
    background-color: rgb(3, 168, 113);
}

.solidWall {
    background-color: rgb(29, 28, 28);
}

.softWall {
    background-image: url('./softBlock.png');
}

.bomb {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-color: black;
    transform: translate(6px, 6px);
}

#player {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: aqua;
    top: 50px;
    left: 50px;
    z-index: 10;
}
