* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #d4d1da;
  background-image: url("./backround.jpeg");
  background-size: cover;
  background-position: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#logo {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-image: url(./logo.png);
  background-size: 60px 60px;
}

.gameState {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 3vh;
  width: 100%;
  background-color: black;
  top: -3vh;
  padding: 0 5px;
}
.timer,
.lifes,
.score {
  color: antiquewhite;
}
.lifes img {
  position: relative;
  top: 2px;
}

#board {
  position: relative;
}

#map {
  position: relative;
  display: grid;
  grid-template-rows: repeat(13, var(--cellSize));
  grid-template-columns: repeat(15, var(--cellSize));
  border: solid 2px rgb(80, 77, 77);
}

#player {
  position: absolute;
  width: calc(var(--cellSize) * 0.8);
  height: calc(var(--cellSize) * 0.8);
  background-image: url("./bomberman.png");
  z-index: 10;
}

.cell {
  position: relative;
  width: var(--cellSize);
  height: var(--cellSize);
  background-image: url("./mapTileSet_v1.png");
  background-size: calc(var(--cellSize) * 4) calc(var(--cellSize) * 3);
}

.bomb {
  position: absolute;
  width: calc(var(--cellSize) * 0.8);
  height: calc(var(--cellSize) * 0.8);
  background-image: url("./bomb.png");
  background-size: calc(var(--cellSize) * 0.8 * 5) calc(var(--cellSize) * 0.8);
}

.enemy {
  position: absolute;
  width: calc(var(--cellSize) * 0.8);
  height: calc(var(--cellSize) * 0.8);
  background-image: url("./enimy.png");
  background-size: calc(var(--cellSize) * 0.8 * 5) calc(var(--cellSize) * 0.8);
  z-index: 1;
}

.gate {
  background-color: #9c27b0;
  animation: gate-simple 0.7s infinite alternate;
}

@keyframes gate-simple {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(1.3);
  }
}

.opacity0 {
  opacity: 0.1;
}

.opacity1 {
  opacity: 1;
}

.explosion-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, yellow 20%, orange 60%, red 100%);
  animation: explosion 0.5s forwards;
}

@keyframes explosion {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* win */

.win-screen, .level-win {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.win-popup {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  animation: bounce 1s infinite;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.win-popup h2 {
  color: #22c55e;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.win-popup p {
  color: #4b5563;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.win-popup button {
  background-color: #22c55e;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.win-popup button:hover {
  background-color: #16a34a;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

.hidden {
  display: none;
}

/* Lose */

.lose-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lose-popup {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  animation: shake 0.5s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lose-popup h2 {
  color: #ef4444;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.lose-popup p {
  color: #4b5563;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.lose-popup button {
  background-color: #ef4444;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.lose-popup button:hover {
  background-color: #dc2626;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
}

.lose-hidden {
  display: none;
}

/* pause */

.pause-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pause-popup {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pause-popup h2 {
  color: #8044ef;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.pause-popup button {
  background-color: #8044ef;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pause-popup button:hover {
  background-color: #5590d4;
}

.pausehidden {
  display: none;
}
